#root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
}

#semestre {
    width: 480px;
    padding: 1rem;
    border-radius: 2rem 0 3rem 0;
    border: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    flex-direction: column;
}
#semestre h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: grey;
}
#semestre h2 {
    grid-column: 2/5;
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: gray;
}
#materias {
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}